@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #b9c4b9, #ffffff);
}

h1,
h2,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}
